
img {
  max-width: 100%;
}

.card {
  position: relative;
  width: 580px;
}

.action-list {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.action-list li {
  display: inline-block;
}

.action-list img {
  height: auto;
  width: 50px;
}

.card:hover img {
  opacity: 0.8;
}

.card:hover .action-list {
  display: block;
}

.card2 {
  position: relative;
  width: 580px;
}

.type {
  color: white;
  font-family: "Helvetica Neau", "Light";
  line-height: 5px;
  font-size: 20.5px;
  margin: 0;
  padding-left: 0;
  position: absolute;
  left: 20px;
  bottom: 160px;
  width: 100%;
}

 .info {
   color: white;
  font-family: "Helvetica Neau", "Light Italic";
  line-height: 35px;
  font-size: 20.5px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  bottom: 175px;
   right: 585px;
  text-align: right;
  width: 100%;
}
.info li {
  display: block;
}

.rating {
  margin: 0;
  padding-left: 0;
  position: absolute;
  left: 525px;
  bottom: 145px;
  width: 100%;
}

.rating img {
  height: auto;
  width: 50px;
}


