img {
  max-width: 100%;
}

.card {
  position: relative;
  width: 600px;
}

.action-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
}

.action-list li {
  display: inline-block; 
}

.action-list img {
  height: auto;
  width: 50px;
}